*{
    margin: 0px;
    padding: 0%;
}
.maincarosal {
  
    padding-bottom: 600px;
    padding-left: 450px;


}
#fitclr{
    color: red;
}
#btn1 {
    border-color: aliceblue;
    border-radius: 4px;
    background-color: rgb(75, 110, 22);
    border-style: groove;
}
#btn2{
background-color: rgb(15, 229, 229);
border-radius: 4px;
border-style: groove;
}

.counter1 h2{
    font-size: 60px;
   
}
.counter2{
    padding: 20px  100px 20px;
} 
.counter3{
    padding: 20px 100px 20px;
}
